<!DOCTYPE html>
<html class="full" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../../images/favicon.ico">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="../../css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/MainPlantilla.css" rel="stylesheet">
<title>Main</title>
<style>
.menuses {
	background-color: #337ab7;
}

.thumbnail {
	padding: 10px;
	background-color: rgba(110, 141, 223, 0.7);
}

.fondocontri {
	font-weight: bolder;
	background-color: #618d3cd4;
	padding: 10px;
}

.fondog {
	font-weight: bolder;
	background-color: #618d3cd4;
	padding: 10px;
}

.fondnom {
	padding-left: 30px;
	text-transform: uppercase;
	background-color: #d06b23e6;
	padding-bottom: 10px;
}

.head-t {;
	margin: 0px 0px 0px 2px;
	font-weight: bolder;
	padding: 10px 1px 10px 20px;
	background-color: rgba(44, 109, 0, 0.7);
}
</style>
</head>

<body>
	<div class="page-container">
		<div class="left-content">
			<div class="inner-content">
				<div class="header-section">
					<div class="top_bg">

						<div class="header_top">
							<div class="top_right">
								<ul>
									<li><a th:text="${usuario.nombre}" th:href="@{index}">USER</a></li>
									<li><p>| CONTACT</p></li>
								</ul>
							</div>
							<div class="top_left">
								<div id="loginContainer" class="login">
									<a href="/logout" class="sidebar-icon login">Logout</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>

					</div>
					<div class="clearfix"></div>
				</div>
				<div class="header_bg">

					<div class="header">

						<div class="clearfix"></div>

						<div class="content">
							<div class="cajaExterior_contenido panel">
								<div class="panel panel-widget">
									<div class="titulo_en_contenido"></div>
									<div class="panel-body">

										<ul>
											<li>Arreglo de búsquedas tanto en ongs como en
												voluntarios.</li>
											<li>Formularios más completos con desplegable en campo
												paises en vez de introducción de texto.</li>
											<li>Arreglo de edit ong y edit voluntario en el que se
												borraba la imagen si no la cargábamos otra vez.</li>
											<li>Listados Ongs y Voluntarios ya no se descuadran.</li>
											<li>Validaciones de email e imposibilidad de introducir
												dinero negativo</li>
											<li>Ya no se pueden agregar dos usuarios iguales (el
												mail es su clave user)</li>
											<li>Agregado servicio para que el voluntario pueda donar
												dinero desde su usuario a su Ong (si no tiene Ong se
												desabilita temporalmente) que se suma al presupuesto de su
												Ong</li>
											<li>Agregado servicio de Ranking de Voluntarios</li>
											<li>Arreglo de Ranking de Ongs</li>
											<li>Borrado de todo lo inservible y comentado lo que
												pueda servir para una futura ampliación</li>
											<li>Arreglo de algunos errores de mapeo.</li>

											<li>Arreglo de fallos que aparecen al arreglar otros
												fallos.</li>
											<li>Cuando no hay Ongs , la pestaña de acceso directo
												azul desaparece porque no se necesita en ese momento.</li>
											<li>Algún que otro arreglo en diseño.</li>

										</ul>

									</div>
								</div>
							</div>
							<div class="footer">

								<div class="clearfix"></div>
								<p>© 2018 Salesianos Triana. All Rights Reserved | Design by
									Carlos Basallote Teba</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="sidebar-menu">
				<header>
					<div>
						<a th:href="@{index}"><img class="logo"
							src="../../images/Logo.png"></a>
					</div>
				</header>
				<div style="border-top: 1px ridge rgba(255, 255, 255, 0.15)"></div>
				<div class="menu">
					<ul id="menu">
						<li><a th:href="@{topOngs}"><i class="fa fa-file-text-o"></i>
								<span>Top ONGs</span>&nbsp;<span
								class="glyphicon glyphicon-king"></span></a></li>
						<li><a th:href="@{topVoluntarios}"><i
								class="fa fa-file-text-o"></i> <span>Top voluntarios</span>&nbsp;<span
								class="glyphicon glyphicon-sort"></span></a></li>
						<li><a th:href="@{comentarios}"><i
								class="fa fa-file-text-o"></i> <span>Update info.</span>&nbsp;<span
								class="glyphicon glyphicon-info-sign"></span></a>
						<li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</body>
</html>